
body {
    font: 20px sans-serif;
    padding: 0 10px 0 50px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.example-container{
    float:left;
    clear:both;
    margin-left:10%;
    margin-top: 50px;
    border: 1px solid grey;
    padding: 10px;
}